header {
    height: 100vh;
    padding-top: 112px;
    overflow: hidden;
}

.container__header {
    text-align: center;
    height: 100%;
    position: relative;
}

/*===ButtonComponents====*/

.buttonComp {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/*===Socials====*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    left: 0px;
    bottom: 80px;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 40px;
    background: var(--color-primary);
}

/*===Picture====*/

.profilePic {
    width: 384px;
    height: 608px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: 50px;
    border-radius: 250px 250px 0px 0px;
    overflow: hidden;
    /* padding: 32px 0px 0px 0px; */
}

.scroll__down {
    position: absolute;
    right: -30px;
    bottom: 134px;
    transform: rotate(90deg);
}

@media screen and (max-width: 1024px){
    header{
        height: 80vh;

}
}

@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header__socials , .scroll__down {
        display: none;
    }
    .profilePic {
        width: 22rem;
        height: 30rem;
        margin: 50px 15px 0px;

        /* padding: 32px 0px 0px 0px; */
    }
}